@model App.Models.ViewModel.PatientViewModel

@{
    var investigationImages = Model.InvestigationImages;

    var imageExtensions = new List<string> { "jpg", "jpeg", "png", "gif" };
}

<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Investigation Images Details</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">

                <div id="popup-container" style="display: none;"></div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">BloodSugar :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.BloodSugar_img))
                        {
                            var extension = investigationImages.BloodSugar_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.BloodSugar_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.BloodSugar_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>


                    <label class="col-sm-2 col-form-label">USG_img:</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.USG_img))
                        {
                            var extension = investigationImages.USG_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.USG_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.USG_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">CECT :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.CECT_img))
                        {
                            var extension = investigationImages.CECT_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.CECT_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.CECT_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                       
                    </div>

                    <label class="col-sm-2 col-form-label">MRI :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.MRI_img))
                        {
                            var extension = investigationImages.MRI_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.MRI_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.MRI_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">FNAC :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.FNAC_img))
                        {
                            var extension = investigationImages.FNAC_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.FNAC_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.FNAC_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>

                    <label class="col-sm-2 col-form-label">TrucutBiopsy :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.TrucutBiopsy_img))
                        {
                            var extension = investigationImages.TrucutBiopsy_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.TrucutBiopsy_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.TrucutBiopsy_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ReceptorStatus :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.ReceptorStatus_img))
                        {
                            var extension = investigationImages.ReceptorStatus_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.ReceptorStatus_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.ReceptorStatus_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>

                    <label class="col-sm-2 col-form-label">MRCP_img:</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.MRCP_img))
                        {
                            var extension = investigationImages.MRCP_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.MRCP_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.MRCP_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ERCP :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.ERCP_img))
                        {
                            var extension = investigationImages.ERCP_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.ERCP_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.ERCP_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>

                    <label class="col-sm-2 col-form-label">EndoscopyUpperGI :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.EndoscopyUpperGI_img))
                        {
                            var extension = investigationImages.EndoscopyUpperGI_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.EndoscopyUpperGI_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.EndoscopyUpperGI_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">EndoscopyLowerGI :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.EndoscopyLowerGI_img))
                        {
                            var extension = investigationImages.EndoscopyLowerGI_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.EndoscopyLowerGI_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.EndoscopyLowerGI_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>

                    <label class="col-sm-2 col-form-label">PETCT :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.PETCT_img))
                        {
                            var extension = investigationImages.PETCT_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.PETCT_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.PETCT_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">TUMOR MARKERS :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.TumorMarkers_img))
                        {
                            var extension = investigationImages.TumorMarkers_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.TumorMarkers_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.TumorMarkers_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>

                    <label class="col-sm-2 col-form-label">SONOMMOGRAPHY :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.SONOMMOGRAPHY_img))
                        {
                            var extension = investigationImages.SONOMMOGRAPHY_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.SONOMMOGRAPHY_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.SONOMMOGRAPHY_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>
                </div>
               
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">TFT :</label>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(investigationImages.TFT_img))
                        {
                            var extension = investigationImages.TFT_img.Split('.').LastOrDefault();

                            if (imageExtensions.Contains(extension))
                            {
                                <img src="~/Images_Data/@investigationImages.TFT_img" style="width: 140px">
                            }
                            else if (string.Equals(extension, "pdf", StringComparison.OrdinalIgnoreCase))
                            {
                                <a href="~/Images_Data/@investigationImages.TFT_img" target="_blank"><i class="fa-solid fa-file-pdf" style="font-size: 80px; color: red"></i></a>
                            }
                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script>

    $('img').click(function () {
        debugger
        var imgSrc = $(this).attr('src');
        var popupImg = $('<img>').attr('src', imgSrc);
        $('#popup-container').html(popupImg).fadeIn();

        popupImg.css({
            'max-width': '80%',
            'max-height': '80%',
            'width': 'auto',
            'height': 'auto'
        });

        var downloadLink = $('<a>').attr('href', imgSrc).attr('download', 'image.jpg').text('Download');
        downloadLink.css({
            'display': 'block',
            'margin-top': '10px',
            'text-align': 'center',
            'text-decoration': 'none',
            'color': '#fff',
            'background-color': '#337ab7',
            'padding': '10px',
            'border-radius': '5px',
            'cursor': 'pointer'
        });
        $('#popup-container').html('').append(popupImg, downloadLink).fadeIn();
    });

    $('#popup-container').click(function () {
        $(this).fadeOut();
    });


</script>




