@model App.Models.ViewModel.PatientViewModel
<!--**********************************
           Content body start
       ***********************************-->


<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card">

            <div class="card-body">
                <div class="basic-form">
                    <form method="post" id="AddProgressForm">
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>Date </h4>
                                <input class="form-control" asp-for="Progress.PatientID" type="hidden">
                                <input class="form-control" asp-for="Progress.Id" type="hidden">
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.Date" placeholder="Enter date">
                                    <span asp-validation-for="Progress.Date" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>COMPLAINT </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.Cc" placeholder="Enter COMPLAINT..">
                                    <span asp-validation-for="Progress.Cc" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>General condition </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="Progress.GeneralCondition" placeholder="Enter condition" rows="4"></textarea>
                                    <span asp-validation-for="Progress.GeneralCondition" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mb-12">
                                <h3 class="my-3">Vitals</h3>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>PR *</h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.PR" placeholder="Enter PR">
                                    <span asp-validation-for="Progress.PR" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>BP </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.BP" placeholder="Enter BP">
                                    <span asp-validation-for="Progress.BP" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>RR </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.RR" type="text" placeholder="Enter RR">
                                    <span asp-validation-for="Progress.Date" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>SpO2 </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.SpO2" type="text" placeholder="Enter SpO2">
                                    <span asp-validation-for="Progress.Date" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>Temp </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.Temp" placeholder="Enter Temp">
                                    <span asp-validation-for="Progress.Temp" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>General examination *</h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="Progress.GeneralExamination" placeholder="Enter general examination" rows="4"></textarea>
                                    <span asp-validation-for="Progress.GeneralExamination" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="my-3">Systemic examination</h3>
                           
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>CNS *</h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.CNS" placeholder="Enter CNS">
                                    <span asp-validation-for="Progress.CNS" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>CVS </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.CVS" placeholder="Enter CVS">
                                    <span asp-validation-for="Progress.CVS" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>RS </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.RS" placeholder="Enter RS">
                                    <span asp-validation-for="Progress.RS" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>PA </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.PA" placeholder="Enter PA">
                                    <span asp-validation-for="Progress.PA" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>Local examination </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="Progress.LocalExamination" placeholder="Enter local examination" rows="4"></textarea>
                                    <span asp-validation-for="Progress.LocalExamination" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>Drains (if any) </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="Progress.Drains" placeholder="Enter message" rows="4"></textarea>
                                    <span asp-validation-for="Progress.Drains" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>URINE </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="Progress.Urine" placeholder="Enter message" rows="4"></textarea>
                                    <span asp-validation-for="Progress.Urine" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>Advice </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="Progress.Advice" placeholder="Enter message" rows="5"></textarea>
                                    <span asp-validation-for="Progress.Advice" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                       
                        <div class="row">
                            <div class="col-sm-3 mb-2">
                                <h4>Remark </h4>
                            </div>
                            <div class="col-md-4 col-12 col-sm-4 mb-2">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Progress.Remark" placeholder="Enter message" />
                                    <span asp-validation-for="Progress.Remark" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                       

                        <div class="form-group">
                            <div class="alert alert-primary" role="alert" id="ProgressSuccessMessage" style="display: none;"></div>
                            <div class="alert alert-warning" role="alert" id="ProgressErrorMessage" style="display: none;"></div>
                            <input type="button" id="ProgressBtn" onclick="getProgressFromModel()" value="Save" class="btn btn-primary" />
                            <input type="hidden" name="ProgressModelsJson" id="ProgressModelsJson" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************************
    Content body end
***********************************-->
