@model App.Models.ViewModel.PatientViewModel
@{
    ViewData["Title"] = "Discharge";
}


<!--**********************************
    Content body start
***********************************-->
<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card">
            
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" id="AddDischargeForm" >
                        <input asp-for="Patient.PatientID" class="form-control" type="hidden">
                        <input asp-for="Discharge.Id" class="form-control" type="hidden">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="Patient.CADSNumber" class="control-label">CADS Number</label>
                                <input asp-for="Patient.CADSNumber" class="form-control" placeholder="Enter CADSNumber" />
                                <span asp-validation-for="Patient.CADSNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Patient.OPDNumber" class="control-label">OPD Number</label>
                                <input asp-for="Patient.OPDNumber" class="form-control" placeholder="Enter OPD No" />
                                <span asp-validation-for="Patient.OPDNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Patient.Name" class="control-label"></label>
                                <input asp-for="Patient.Name" class="form-control" placeholder="Enter Name" />
                                <span asp-validation-for="Patient.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Patient.Age" class="control-label"></label>
                                <input asp-for="Patient.Age" class="form-control" placeholder="Enter Age" />
                                <span asp-validation-for="Patient.Age" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Patient.Gender" class="control-label"></label>
                                <select asp-for="Patient.Gender" name="Patient.Gender" class="form-control">
                                    <option selected>Select Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                                <span asp-validation-for="Patient.Gender" class="text-danger"></span>
                                <span asp-validation-for="Patient.Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Patient.PhoneNumber" class="control-label"></label>
                                <input asp-for="Patient.PhoneNumber" class="form-control" placeholder="Enter PhoneNumber" />
                                <span asp-validation-for="Patient.PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label asp-for="Patient.Address.Street" class="control-label"></label>
                                        <input asp-for="Patient.Address.Street" class="form-control" placeholder="Enter Address" />
                                        <span asp-validation-for="Patient.Address.Street" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label asp-for="Patient.Address.City" class="control-label"></label>
                                        <input asp-for="Patient.Address.City" class="form-control" placeholder="Enter City" />
                                        <span asp-validation-for="Patient.Address.City" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label asp-for="Patient.Address.State" class="control-label"></label>
                                        <input asp-for="Patient.Address.State" class="form-control" placeholder="Enter State" />
                                        <span asp-validation-for="Patient.Address.State" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label asp-for="Patient.Address.ZipCode" class="control-label">Pin Code</label>
                                        <input asp-for="Patient.Address.ZipCode" class="form-control" placeholder="Enter ZipCode" />
                                        <span asp-validation-for="Patient.Address.ZipCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="form-group col-md-6">
                                <label>DOA</label>
                                <input asp-for="Discharge.DOA" class="form-control" placeholder="Enter DOA">
                                <span asp-validation-for="Discharge.DOA" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>DOD</label>
                                <input asp-for="Discharge.DOD" class="form-control" placeholder="Enter DOD">
                                <span asp-validation-for="Discharge.DOD" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Diagnosis</label>
                                <textarea asp-for="Discharge.Diagnosis" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Discharge.Diagnosis" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Case Summary</label>
                                <textarea asp-for="Discharge.CaseSummary" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Discharge.CaseSummary" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Investigations</label>
                                <textarea asp-for="Discharge.Investigations" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Discharge.Investigations" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Treatment Given</label>
                                <textarea asp-for="Discharge.TreatmentGiven" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Discharge.TreatmentGiven" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Advice on discharge</label>
                                <textarea asp-for="Discharge.AdviceOndischarge" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Discharge.AdviceOndischarge" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="PatientModel.SeniorResident" class="control-label">Resident Junior</label>
                                @Html.DropDownList("Patient.JuniorResident", ViewBag.JRlist as SelectList, "-- Select Junior --", new { @class = "form-control" })
                               
                                <span asp-validation-for="PatientModel.SeniorResident" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="PatientModel.SeniorResident" class="control-label">Resident Senior</label>
                                @Html.DropDownList("Patient.SeniorResident", ViewBag.SRlist as SelectList, "-- Select Senior --", new { @class = "form-control" })
                               
                                <span asp-validation-for="PatientModel.SeniorResident" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="alert alert-primary" role="alert" id="DischargeSuccessMessage" style="display: none;"></div>
                            <div class="alert alert-warning" role="alert" id="DischargeErrorMessage" style="display: none;"></div>
                            <input type="button" id="DischargeBtn" onclick="getDischargeFromModel()" value="Save" class="btn btn-primary" />
                            <input type="hidden" name="DischargeModelsJson" id="DischargeModelsJson" />
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
